body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.bg {
	position: absolute;
		top: 0;
	background: url('../img/bg.png');
	z-index: 10;
}
.bg_dof {
	position: absolute;
		top: 0;
	background: url('../img/bg_dof.png');
	z-index: 11;
	opacity: 0;
}
.double_full {
  width: 100%;
  height: 200%;
}
.full {
  width: 100%;
  height: 100%;
}
#container {
  position: absolute;
  	top: 0;
  	left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.b6_splash {
	position: absolute;
		top: 0;
		bottom: 50%;
	width: 100%;
  background: transparent;
  display: block;
}
.b6_splash .b6_logo {
	margin: 0 auto;
	margin-top: 20%;
	width: 80%;
	display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden

}
.b6_splash .b6_logo img {
	flex-shrink:0;
    /*min-width:100%;*/
    /*min-height:100%*/
}
.b6_splash .to_menu {
	position: absolute;
		bottom: 0;
	width: 100%;
	font-size: 2em;
	text-align: center;
	color: #fff;
	opacity: 0.5;
}
.b6_menu {
	position: absolute;
		top: 50%;
		bottom: 0;
  width: 100%;
  background: transparent;
  display: block;
}
.b6_menu .row {
	height: 33%;
}
.b6_menu .row .col {
	border-top: 1px solid #fff;
	text-align: center;
	color: #fff;
}
.b6_menu .row .col i {
	margin-top: 10%;
	font-size: 3em;
}